/node_modules
Homestead.yaml
Homestead.json
.env

### Composer ###
composer.phar
vendor/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

## Directory-based project format:
.idea/

## stuff ##
composer.lock