/node_modules
Homestead.yaml
Homestead.json
.env
gulpfile.js
config/

### Composer ###
composer.phar
vendor/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

## Directory-based project format:
.idea/

### Sass ###
.sass-cache
*.css.map
/public/compass/javascripts
/public/compass/sass
/public/compass/fonts
.config.rb


## stuff ##
composer.lock

## audio recordings ##

/public/audio