/node_modules
Homestead.yaml
Homestead.json
.env
.env.example
gulpfile.js
config/

### Composer ###
composer.phar
vendor/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

## Directory-based project format:
.idea/

### Sass ###
.sass-cache
*.css.map

## Css files ##
public/css/

## stuff ##
composer.lock