.panel-red .panel-heading
{
    background: #C62828;
    color: white;
}

.panel-red .panel-footer
{
    border: 1px solid #C62828;
}

.panel-purple .panel-heading
{
    background: #4A148C;
    color: white;
}

.panel-purple .panel-footer
{
    border: 1px solid #4A148C;
}


.panel-green .panel-heading
 {
     background: #1B5E20;
     color: white;
 }

.panel-green .panel-footer
{
    border: 1px solid #1B5E20;
}

.panel-yellow .panel-heading
{
    background: #FBC02D;
    color: white;
}

.panel-yellow .panel-footer
{
    border: 1px solid #FBC02D;
}

.thumbnail
{
    background: transparent;
    border: none;
}