/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

#upload_success {
    display: none;
}

#upload_error {
    display: none;
}

.game-resource {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 10px;
    -moz-box-shadow: 1px 1px 5px 0px #656565;
    -webkit-box-shadow: 1px 1px 5px 0px #656565;
    -o-box-shadow: 1px 1px 5px 0px #656565;
    box-shadow: 1px 1px 5px 0px #656565;
}

.img-responsive {
    margin-left: auto;
    margin-right: auto;
}