.app-content
{
	margin-top: 100px;
	margin-bottom: 50px;
}

.jumbotron
{
	background: #ffffff;
}

.jumbotron-success
{
	background: green;
}

.achievement
{
	width: 300px;
	height: auto;
	margin-left:auto;
	margin-right: auto;
}